{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock %}

{% load bootstrap3 %}

{% block content %}
        <div class="page-header"></div>
        <form method="POST" class="form-horizontal col-md-5 col-md-offset-3">
            {% csrf_token %}
            {% for foo in plan_form %}
                {% bootstrap_field foo layout='horizontal'%}
            {% endfor %}

            {% for foo in form %}
                {% bootstrap_field foo layout='horizontal' %}
            {% endfor %}

            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 30px">Submit</button>
        </form>
{% endblock %}