{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}
{% block style %}
    <style>
        .content_wrapper {
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 25px;
        }
    </style>
{% endblock %}
{% block content %}
{% load bootstrap3 %}
{% load tags %}

<div class="content_wrapper row">
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_field form.name %}
            <label>Permissions</label>
            {% include 'm2m_field.html' %}
            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 50px">submit</button>
        </form>
</div>
{% endblock %}

{% block script %}
<script src="/static/m2m_field.js"></script>
<script>
    $(function () {
        initM2MField('{{ m2m_field.name }}', {{ m2m_field.filter_args|safe }});
    });
</script>
{% endblock %}