{% extends 'index.html' %}

{% block title %}Profile{% endblock %}
{% block style %}
    <style>
        .content_wrapper {
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 50px;

        }
    </style>
{% endblock %}
{% block content %}
    {% load bootstrap3 %}

    <div class="content_wrapper row">
            <ul class="nav nav-tabs">
                <li role="presentation" {% if is_profile %} class="active" {% endif %}><a
                        href="{% url 'accounts:profile' %}">Profile</a></li>
                <li role="presentation" {% if is_password %} class="active" {% endif %}><a
                        href="{% url 'accounts:change_password' %}">Password</a></li>
                {% if request.user.teacher_info %}
                    <li role="presentation" {% if is_teacher %} class="active" {% endif %}><a
                            href="{% url 'accounts:teacher_info' %}">Teacher Info</a></li>{% endif %}

                {% if request.user.supervisor_info %}
                    <li role="presentation" {% if is_supervisor %} class="active" {% endif %}><a
                            href="{% url 'accounts:supervisor_info' %}">Supervisor Info</a></li>{% endif %}

            </ul>
            <br>
            <div class="col-md-10">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <button type="submit" class="btn btn-primary pull-right" name="submit">submit</button>
                </form>
            </div>
    </div>
{% endblock %}