{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock %}
{% block style %}
    <style>
        .content_wrapper {
            padding-left: 25%;
            padding-right: 25%;
        }
    </style>
{% endblock %}
{% load bootstrap3 %}

{% block content %}
    <div class="content_wrapper">
        <div class="page-header"></div>
        <form method="POST" class="form-horizontal">
            {% csrf_token %}


            {% for foo in plan_form %}
                {% bootstrap_field foo layout='horizontal'%}
            {% endfor %}

            {% for foo in form %}
                {% bootstrap_field foo layout='horizontal' %}
            {% endfor %}

            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 30px">Submit</button>
        </form>
    </div>

{% endblock %}