{% extends 'index.html' %}
{% load tags %}
{% load bootstrap3 %}

{% block title %}{{ title.0 }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/pagination.css">
    <style>
        #Pagination {
            height: 0px;
        }

        #Pagination .pagination {
            margin: 0px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h4>{{ title.0 }}
            <small>{{ title.1 }}</small>

            <div class="col-md-4 pull-right">
                <div class="input-group">
                    <input type="text" class="form-control search_content" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default search_button" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </h4>
    </div>
    <div>
        {% if request.user.duty != 2 %}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="{% url 'main:courses' %}">完成事项</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'main:course_plan' %}">待排事项&nbsp;
                        {% if plan_count %}<span class="badge">{{ plan_count }}</span>{% endif %}</a>
                </li>
            </ul>
        {% endif %}
        <!-- Tab panes -->
        <div class="">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>序号 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="id"></span>
                    </th>
                    {% if request.user.is_superuser %}
                        <th>校区 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="teacher__branch"
                        ></span></th>{% endif %}
                    <th>学生 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="student"
                    ></span></th>
                    <th>教师 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="teacher"
                    ></span></th>
                    <th>上课时间 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="lesson_time"
                    ></span></th>
                    <th>课时 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="hours"
                    ></span></th>
                    <th>教案 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="lesson_plan"
                    ></span></th>
                    <th>考勤 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="attendance"
                    ></span></th>
                    <th>状态 <span class="glyphicon glyphicon-sort" aria-hidden="true" id="status"
                    ></span></th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                {% for item in items %}
                    <tr class="{% render_model_name model %}-{{ item.id }}">
                        <td class="id">{{ forloop.counter }}</td>
                        {% if request.user.is_superuser %}
                            <td>{{ item.teacher.get_branch_display }}</td>{% endif %}

                        <td data="plan-{{ item.student_id }}">{{ item.student }}</td>
                        <td data="{{ item.teacher_id }}">{{ item.teacher }}</td>
                        <td>{{ item.lesson_time }}</td>
                        <td>{{ item.student.hours }}</td>
                        {% if item.lesson_plan %}
                            <td data="{{ item.lesson_plan_id }}">{{ item.lesson_plan }}</td>
                        {% else %}
                            <td><a href="#">添加</a></td>
                        {% endif %}

                        {% if item.attendance %}
                            <td data="{{ item.attendance }}">{{ item.get_attendance_display }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        <td class="status" data="{{ item.status }}">
                            <span class="label
                            {% if item.status == 1 %}
                            label-default
                            {% elif item.status == 2 %}
                            label-danger
                            {% elif item.status == 3 %}
                            label-primary
                            {% else %}
                            label-warning
                            {% endif %}">{{ item.get_status_display }}</span></td>
                        <td>
                            <div class="btn-group">
                                <a role="button" class="dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">Action
                                </a>
                                <ul class="dropdown-menu actions_menu">
                                    <li><a class="change" href="{% url 'main:course_change' item.id %}">编辑</a></li>
                                    <li><a class="delete" href="{% render_delete_url model item.id %}">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    <div id="Pagination" class="container">
        <div class="pagination">{% bootstrap_pagination items %}</div>
    </div>


{% endblock %}


{% block script %}
    <script>
        $(function () {
            bindSearchButton();
            bindSortFunc();
            $(window).keydown(function (event) {
                switch (event.keyCode) {
                    case 13:
                        if ($('.search_content:focus').length === 1) {
                            $('.search_button').click();
                        }
                }
            });
        });

        function bindSearchButton() {
            $('.search_button').on('click', function () {
                var search_content = $('.search_content').val();
                if (search_content === '') {
                    window.location.href = '{{ request.path }}';
                }
                else {
                    window.location.href = '{{ request.path }}' + "?s=" + search_content;
                }

            })
        }


        function bindSortFunc() {
            $('.glyphicon-sort').on('click', function () {
                var sign = $(this).attr('id');
                var query = window.location.search.substring(1);
                var order_by = getQueryVariable('o');

                if (order_by) {
                    var start = query.indexOf(order_by);
                    var index = order_by.indexOf(sign);
                    var index_end = order_by.lastIndexOf(sign);
                    if (index >= 0) {
                        if (order_by.indexOf('-' + sign) >= 0) {
                            order_by = order_by.substring(0, index - 1) + order_by.substring(index_end)
                        } else {
                            order_by = order_by.substring(0, index) + '-' + order_by.substring(index_end)

                        }
                    } else {
                        order_by = order_by + ':' + sign
                    }

                    query = query.substring(0, start) + order_by;
                } else {
                    if (query === '') {
                        query = "o=" + sign
                    } else {
                        query = query + "&o=" + sign
                    }

                }
                window.location.href = "?" + query;

            })
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return (false);
        }
    </script>
{% endblock %}